:root {
    --primary-color: #4d4e79;
    --secondary-color: #00f2fe;
    --bg-color: #f0f2f5;
    --text-color: #333;
}

body {
    background-image: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    max-width: 450px;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.75);
}

.nhap::placeholder {
    font-style: italic;
    color: #888;    
}

header {
    font-size: 200%;
}

.but {
    background-color: #535a50;
    color: white;
    border-radius: 5px;
}

.but:hover {
    background-color: #467eee;
    transform: scale(1.1);
}


.filters {
    padding: 1rem;
    display: flex;
    gap: 20px;
    
}

.filter-btn {
    background-color: white;
    transition: all 0.3s ease;
    border-radius: 20px;
}

.filter-btn:hover {
    margin-left: 0;
    background-color: #49ea14;
    transform: scale(1.1);
    cursor: pointer;
}

.input {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.task-item {
    display: flex;
    gap: 10px;
}